<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 延迟加载设置  -->
	<!-- 
	<settings> 
		<setting name="lazyLoadingEnabled" value="true"/> 
	</settings>  -->
	
	<!-- 设置类别名   -->
	<!-- 
	<typeAliases>
		<typeAlias alias="baseBuyerSoleVO" type="com.hc360.sumy.vo.SysUserVO"/>
	</typeAliases> -->
	
</configuration>
